<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inhatc.spring.model.mapper.BoardMapper">
  <select id="selectBoard" resultType="BoardDTO">
    SELECT board_idx, title, hit_cnt, to_char(create_datetime, 'YYYY-MM-DD') as create_datetime 
      FROM "t_board"
      WHERE delete_yn = 'N'
      ORDER BY board_idx DESC
  </select>
  <insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="boardIdx">
    INSERT INTO "t_board" (board_idx, title, content, hit_cnt, create_datetime, create_id, delete_yn)
    VALUES (default, #{title}, #{content}, default, default, 'admin', default)
  </insert>
  <select id="detailBoard" parameterType="int" resultType="BoardDTO">
    SELECT board_idx, title, content, hit_cnt, to_char(create_datetime, 'YYYY-MM-DD') as create_datetime, create_id 
      FROM "t_board"
      WHERE delete_yn = 'N' AND board_idx = #{boardIdx}
  </select>
  <update id="updateBoard" parameterType="BoardDTO">
    UPDATE "t_board" SET title = #{title}, content = #{content}, create_datetime = now(), create_id = 'admin'  WHERE board_idx = #{boardIdx}
  </update>
  <update id="updateHit" parameterType="int">
    UPDATE "t_board" SET hit_cnt = hit_cnt + 1 WHERE board_idx = #{boardIdx}
  </update>
  <delete id="deleteBoard" parameterType="int">
    DELETE FROM "t_board" WHERE board_idx = #{boardIdx}
  </delete>
  <insert id="insertBoardFile" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="idx">
    INSERT INTO "t_file" (idx, board_idx, original_file_name, stored_file_path, file_size, creator_id, create_datetime, deleted_yn) VALUES 
    <foreach collection="list" item="item" index="index" separator=",">
      (default, #{item.boardIdx}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, 'admin', default, default)
    </foreach>
  </insert>
</mapper>